/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
header {
  position: relative;
  max-width: 100%;
  font-family: Roboto, sans-serif;
  background: #0fb9b1;
  display: flex;
  justify-content: space-between;
}

.header-button {
  font-weight: normal;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

.header-title {
  font-weight: bolder;
  font-size: 20px;
  margin: 15px;
  padding: 5px;
}

body {
  background: url('./assets/burger-friends.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

/* .background-image {
  max-width: 100%;
  max-height: 100%;
} */

/* .body-container-parent {
  position: absolute;
} */

.meal-selector-header {
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

span {
  color: red;
}

form {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  justify-content: space-around;
  list-style-type: none;
  margin: 50px 0px 35px 15px;
  padding: 0px 0px 0px 0px;
}

li {
  margin: 15px;
}

.lets-cook {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color: #0fb9b1;
  margin: 5px 10px 25px 20px;
  padding: 7px 45px 7px 45px;
  border-radius: 5px;
  border-style: none;

}

.result-window {
  margin: 50px;
  font-family: Roboto, sans-serif;
  width: 35%;
  background-color: rgba(255,255,255,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal-course-selector {
  margin: 50px;
  width: 35%;
  background-color: rgba(255,255,255,.8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.white-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap !important;
  /* flex-direction: row;
  justify-content: space-around; */
}

.random-dish-display {
  font-size: 25px;
  margin: 0;
  height: 120px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.result {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hidden {
  display: none;
}

.clear-button {
  border-style: none;
  background-color: #95A5A6;
  border-radius: 5px;
  padding: 7px 15px;
  color: white;
  position: absolute;
  margin-top: 25px;
  margin-left: 165px;
}

.entire-meal-style {
  font-size: 10;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
